
@import './assets/styles/colors.scss';

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: initial;
    outline: initial;
}

html {

    font: 12.5px/12.5px Helvetica, sans-serif;
    color: $fontColor;
}

body {

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: $backgroundColor;
}

main {

    flex-direction: column;
    display: flex;
    padding-top: 80px;
    flex-grow: 1;
}
