
@import '../../assets/styles/colors.scss';

.galleryForm {

    display: flex;
    flex-direction: column;
    margin: 15px 40px 0 40px;
    padding: 20px 0 30px 0;
    border-bottom: solid $foregroundColor;

    &__label {

        line-height: 20px;
        letter-spacing: .1rem;
    }

    &__list {

        margin-left: 10px;
        height: 20px;
        width: 100px;
        background-color: lighten($backgroundColor, 10%);
        box-shadow: 1px 1px 5px lighten($backgroundColor, 25%);
        color: $fontColor;
    }

    &__separator {

        height: 1px;
        margin-top: 30px;
        background-color: lighten($backgroundColor, 25%);
    }

    &__frame {

        display: flex;
        flex-direction: column;
        margin: 30px auto 30px 0;
        padding: 15px;
        border: 1px solid lighten($backgroundColor, 25%);
        border-radius: 5px;
    }

    &__input {

        width: 140px;
        padding: 0 5px;
        margin-bottom: 15px;
        line-height: 25px;
        box-shadow: 1px 1px 5px lighten($backgroundColor, 25%);
    }

    &__button {

        width: 140px;
        padding: 5px 15px;
        background-color: lighten($backgroundColor, 10%);
        box-shadow: 1px 1px 5px lighten($backgroundColor, 25%);
        line-height: 20px;
        letter-spacing: .05rem;
        color: $fontColor;
        cursor: pointer;
    }

    .removeButton { margin: 0 auto 0 15px; }
}

.gallery {

    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    padding: 40px;

    &__figure {

        width: 250px;
        margin: 15px auto;

        img {

            width: 100%;
            box-shadow: 3px 3px 10px darken($backgroundColor, 15%);

            cursor: pointer;
        }
    }
}

.popup {

    position: fixed;
    top: 80px;
    left: 0;
    display: flex;
    height: calc(100% - 80px);
    width: 100%;
    background-color: transparentize(darken($backgroundColor, 50%), .5);

    &__figure {

        position: relative;
        display: flex;
        height: 100%;
        margin: auto;
        padding: 10vmin;

        img {

            border: 1px solid darken($backgroundColor, 50%);
            box-shadow: 10px 10px 20px 5px darken($backgroundColor, 15%);
        }
    }

    &__form {

        position: absolute;
        top: calc(10vmin + 15px);
        right: calc(10vmin + 15px);
        display: flex;
        flex-direction: column;
    }

    &__button {

        height: 30px;
        width: 30px;
        border-radius: 30px;
        margin-bottom: 7.5px;
        cursor: pointer;
    }

    &__figure img { user-select: none; }
}
