
@import '../../assets/styles/colors.scss';

.gallery {

    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    padding: 40px;

    &__figure {

        display: flex;
        height: 250px;
        width: 250px;
        margin: 15px auto;

        img {

            width: 100%;
            margin: auto 0;
            box-shadow: 3px 3px 10px darken($backgroundColor, 15%);

            cursor: pointer;
        }
    }

    &__placeholder {

        height: 100%;
        width: 100%;
        background-color: darken($backgroundColor, 2.5%);
        box-shadow: inset 3px 3px 10px darken($backgroundColor, 15%);
        color: $fontColor;
        font-size: 52px;
        text-shadow: 3px 3px 10px darken($backgroundColor, 15%);
        cursor: pointer;
    }

    input { display: none; }
}
